// app global css in SCSS form
.text-logocolour {
    color: #FFBABA;
    font-weight: bold;
    font-size: 28px;
}

.text-navbar {
    color: #FFBABA;
    // font-weight: bold;
    font-size: 20px;
}

.text-headingcolour {
    color: #963600;
    font-weight: bold;
}

.text-subheadcolour {
    color: black;
    font-weight: bold;
}

.text-btn {
    color: black;
    font-weight: bold;
}

.bg-btn {
    background: $accent;
    width: 40%;
}

#hover {
    font-size: 15px;
}

#hover:hover{
    text-decoration: underline;
}

.pg-bg-colour {
    background: #F1FAEE;
}

.align-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}